# ============================================================
#  SIRF YAHAN NAAM LIKHO - phir RUN.bat double-click karo
# ============================================================
#  BrandName = EXE name + UI title + CMD title (sab jagah)
#  Example: BrandName=MANI-22
# ============================================================

BrandName=MANI 272
Subtitle=ALL SERCER
